:root {
	--main-background-color: #222
}
* {
	user-select: none;
	-webkit-user-select: none;
	color: white;
	font-family: "Comic Sans MS", "Chalkboard SE", sans-serif;
}
html {
	margin: 0;
	overscroll-behavior: none;
}
body {
	margin: 0;
	overflow: hidden;
	height: 100vh;
	background-color: var(--main-background-color);
}
.frame {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 100%;
	overflow: auto;
}
.frame > *, #control-panel > * {
	margin: 2vh 0;
}
#control-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75vw;
}
#metadata > * {
	text-align: center;
	margin: 0;
}
#album-cover {
	height: auto;
	width: 75vw;
	aspect-ratio: 1;
	max-width: 45vh;
	box-shadow: 0.3em 0.3em 1em #080808;
	border-radius: 10px;
	margin-top: 20%;
}
#seekBar {
	width: 100%;
}
#controls {
	display: flex;
	justify-content: space-around;
	width: 100%;
	/* gap: 5px; */
}
.control-btn {
	padding: 0;
	border: 0;
	height: 5em;
	transition: transform 0.1s ease-in-out;
}
.control-btn:active {
	transform: scale(0.75);
}
.control-icon {
	height: 100%;
	background-color: var(--main-background-color);
}
@media (orientation: landscape) {
	.frame {
		flex-direction: row;
		justify-content: space-evenly;
	}
	#album-cover {
		height: 90%;
		width: auto;
		max-height: 45vw;
		max-width: none;
	}
	#control-panel {
		width: 45%;
	}
	#control-panel > * {
		width: 100%;
	}
}
#song-queue {
	display: none;
}
#song-queue > * {
	margin-block: 1em;
}
